@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* 토큰 */
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--primary-600);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--primary-500);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--primary-600);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: var(--primary-600);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  /* Color 토큰 */
  --white: #ffffff;
  --primary-50: #eaf9ff;
  --primary-100: #cbf1ff;
  --primary-200: #a3e3ff;
  --primary-300: #7fd4ff;
  --primary-400: #57bcff;
  --primary-500: #0a98ff;
  --primary-600: #118bf5;
  --primary-700: #0d6fd8;
  --primary-800: #0d4fb1;
  --primary-900: #08306c;
  --secondary-50: #ecfff1;
  --secondary-100: #caf5db;
  --secondary-200: #92e6b3;
  --secondary-300: #69d594;
  --secondary-400: #3fc173;
  --secondary-500: #0fb157;
  --secondary-600: #1c9842;
  --secondary-700: #117932;
  --secondary-800: #0d5a23;
  --secondary-900: #083b14;
  --grey-50: #f7f9fa;
  --grey-100: #edf1f5;
  --grey-200: #e1e8ef;
  --grey-300: #d5dee8;
  --grey-350: #bdc9d6;
  --grey-400: #abb9c7;
  --grey-500: #8a99aa;
  --grey-600: #6d7d90;
  --grey-700: #647180;
  --grey-750: #515c69;
  --grey-800: #3e4753;
  --grey-850: #263238;
  --grey-900: #1a1a1a;
  --error-50: #fff3f3;
  --error-100: #fedfe0;
  --error-200: #ffb8b9;
  --error-300: #fd8a92;
  --error-400: #fa5c66;
  --error-500: #e90e57;
  --error-600: #cd0a4b;
  --error-700: #b60845;
  --error-800: #940a41;
  --error-900: #65062f;
  --warning-50: #fdf9ed;
  --warning-100: #fbf3d4;
  --warning-200: #fbe5a9;
  --warning-300: #ffd476;
  --warning-400: #febd44;
  --warning-500: #eaa21c;
  --warning-600: #d07f05;
  --warning-700: #a65e00;
  --warning-800: #7d4602;
  --warning-900: #542903;
  --warning2-50: #fff8ed;
  --warning2-200: #fed69a;
  --warning2-300: #ffbe5d;
  --warning2-400: #ffa318;
  --warning2-500: #ff8914;
  --warning2-600: #ef7118;
  --warning2-700: #cc590d;
  --warning2-800: #994004;
  --warning2-900: #6c2f06;
  --success-50: #ebfcf5;
  --success-100: #d5f6eb;
  --success-200: #abe6d2;
  --success-300: #7bd1b4;
  --success-400: #35b089;
  --success-500: #06866e;
  --success-600: #056b55;
  --success-700: #045946;
  --success-800: #064335;
  --success-900: #043129;
  --text-strong: #1a1a1a;
  --button-primary-text-basic: #118bf5;
  --button-primary-text-deep: #0d6fd8;
  --button-primary-text-strong: #08306c;
  --button-primary-icon-basic: #118bf5;
  --button-primary-icon-deep: #0d6fd8;
  --button-primary-icon-strong: #08306c;
  --button-primary-filled-bg-default: #a3e3ff;
  --button-primary-filled-bg-hovered: #7fd4ff;
  --button-primary-filled-bg-active: #57bcff;
  --button-primary-filled-border-default: #57bcff;
  --button-primary-filled-border-hovered: #118bf5;
  --button-primary-filled-border-active: #118bf5;
  --button-primary-outlined-bg-default: #ffffff;
  --button-primary-outlined-bg-hovered: #eaf9ff;
  --button-primary-outlined-bg-active: #cbf1ff;
  --button-primary-outlined-border-default: #7fd4ff;
  --button-primary-outlined-border-hovered: #57bcff;
  --button-primary-outlined-border-active: #57bcff;
  --button-primary-noline-bg-hovered: #eaf9ff;
  --button-primary-noline-bg-active: #cbf1ff;
  --button-secondary-text-basic: #1c9842;
  --button-secondary-text-deep: #117932;
  --button-secondary-text-strong: #083b14;
  --button-secondary-icon-basic: #1c9842;
  --button-secondary-icon-deep: #117932;
  --button-secondary-icon-strong: #083b14;
  --button-secondary-filled-bg-default: #92e6b3;
  --button-secondary-filled-bg-hovered: #69d594;
  --button-secondary-filled-bg-active: #3fc173;
  --button-secondary-filled-border-default: #3fc173;
  --button-secondary-filled-border-hovered: #1c9842;
  --button-secondary-filled-border-active: #1c9842;
  --button-secondary-outlined-bg-default: #ffffff;
  --button-secondary-outlined-bg-hovered: #ecfff1;
  --button-secondary-outlined-bg-active: #caf5db;
  --button-secondary-outlined-border-default: #69d594;
  --button-secondary-outlined-border-hovered: #3fc173;
  --button-secondary-outlined-border-active: #3fc173;
  --button-secondary-noline-bg-hovered: #ecfff1;
  --button-secondary-noline-bg-active: #caf5db;
  --button-gray-text-basic: #6d7d90;
  --button-gray-text-deep: #647180;
  --button-gray-text-strong: #1a1a1a;
  --button-gray-icon-basic: #6d7d90;
  --button-gray-icon-deep: #647180;
  --button-gray-icon-strong: #1a1a1a;
  --button-gray-filled-bg-default: #e1e8ef;
  --button-gray-filled-bg-hovered: #d5dee8;
  --button-gray-filled-bg-active: #bdc9d6;
  --button-gray-filled-border-default: #bdc9d6;
  --button-gray-filled-border-hovered: #8a99aa;
  --button-gray-filled-border-active: #8a99aa;
  --button-gray-outlined-bg-default: #ffffff;
  --button-gray-outlined-bg-hovered: #edf1f5;
  --button-gray-outlined-bg-active: #e1e8ef;
  --button-gray-outlined-border-default: #d5dee8;
  --button-gray-outlined-border-hovered: #abb9c7;
  --button-gray-outlined-border-active: #abb9c7;
  --button-gray-noline-bg-hovered: #edf1f5;
  --button-gray-noline-bg-active: #e1e8ef;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}
